.identity
    position: relative
    text-align: center

    &--inline
        text-align: left
        &:after
            clear: both

        .identity__avatar
            position: absolute
            top: 50%
            left: 0
            margin-top: -($avatar-size / 2)

        .identity__name,
        .identity__description,
        .identity__social
            margin-left: $avatar-size + $spacing
            margin-top: quarter($spacing)

        .identity__name
            margin-top: 0
            padding-top: halve($spacing)

        .identity__social
            text-align: center

    &__avatar
        position: relative
        margin: auto
        max-width: 100%
        max-height: $avatar-size

        &--is-round
            border-radius: 50%
            width: $avatar-size
            height: $avatar-size

    &__name
        //margin-top: halve($spacing)
        font-weight: bold
        +font-size(2em)
        font-family: Montserrat, Lato, Verdana, sans-serif

    &__description
        //margin-top: quarter($spacing)
        color: secondary($white)

    &__social
        margin-top: $spacing
        +font-size(18px)

        &__link
            color: $white
            text-decoration: none

        &__item
            &:hover
                .fa-stack-1x
                    color: $white

                .fa-stack-2x
                    color: inherit

            .fa
                +trans(color, fast)

            .fa-stack-2x
                color: $white

            &.github,
            &.github-alt,
            &.github-square
                color: #171516

            &.google,
            &.google-plus,
            &.google-plus-square
                color: #dd4b39

            &.linkedin,
            &.linkedin-square
                color: #007bb6

            &.twitter,
            &.twitter-square
                color: #55acee

            &.foursquare
                color: #f94877

            &.hacker-news
                color: #ff6600

            &.reddit,
            &.reddit-square
                color: #ff5700

            &.spotify
                color: #84bd00

            &.steam,
            &.steam-square
                color: #000

            &.youtube,
            &.youtube-square,
            &.youtube-play
                color: #cd201f

            &.yelp
                color: #b4282E

            &.tumblr,
            &.tumblr-square
                color: #35465c

            &.stack-exchange
                color: #36649d

            &.facebook,
            &.facebook-square
                color: #3B579d

            &.dribbble
                color: #ea4c89

            &.bitbucket,
            &.bitbucket-square
                color: #205081

            &.instagram
                color: #211F20

            &.lastfm,
            &.lastfm-square
                color: #a3000d

            &.pinterest,
            &.pinterest-square
                color: #cc2127

            &.stack-overflow
                color: #000

            &.vimeo-square
                color: #1ab7ea

            &.vine
                color: #00b489

            &.twitch
                color: #6441a5

            &.soundcloud
                color: #ff3a00

            &.flickr
                color: rgba(21,21,23,0.95)

            &.deviantart
                color: #c8dc25
