<div class="excerpt">
  <div class="excerpt__title">
    {% if article.banner %}
      <a href="{{ SITEURL }}/{{ article.url }}" class="excerpt__title__background" style="background-image: url('{{ article.banner }}')">
        <div class="link">{{ article.title }}</div>
      </a>
    {% else %}
      <a href="{{ SITEURL }}/{{ article.url }}" class="link">{{ article.title }}</a>
    {% endif %}
  </div>
  <div class="excerpt__data clearfix">
    {% if not SINGLE_AUTHOR %}
      <div class="excerpt__author">
        <img src="{{ article.author_gravatar }}" class="excerpt__author__avatar">
        <a href="{{ SITEURL }}/{{ article.author.url }}" class="link">{{ article.author }}</a>
      </div>
    {% endif %}
    <div class="excerpt__meta {% if SINGLE_AUTHOR %}excerpt__meta--left{% endif %}">
      <div class="excerpt__meta__date">
        <i class="fa fa-clock-o"></i> {{ article.locale_date }} on <a href="{{ SITEURL }}/{{ article.category.url }}" class="link">{{ article.category }}</a>
      </div>
      {% if article.tags %}
        <div class="excerpt__meta__tags">
          <i class="fa fa-tags"></i> {% for tag in article.tags | sort %} <a href="{{ SITEURL }}/{{ tag.url }}" class="link">{{ tag }}</a>{% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
  <div class="post-content">
    {{ article.summary }}
  </div>
  <div class="excerpt__continue">
    <a href="{{ SITEURL }}/{{ article.url }}" class="link">Continue reading</a>
  </div>
</div>
