<div class="identity sidebar__footer__identity">
  <img src="http://www.gravatar.com/avatar/cc9648c14c583857f6e0cb0b31ae2dd7" class="identity__avatar">
  <div class="identity__name">
    {{ SITENAME }}
  </div>
  {% if SITESUBTITLE %}
  <div class="identity__description">
    {{ SITESUBTITLE }}
  </div>
  {% endif %}
  <div class="identity__social">
    <span class="fa-stack fa identity__social__item">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-github-alt fa-stack-1x"></i>
    </span>
    <span class="fa-stack fa identity__social__item">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-google-plus fa-stack-1x"></i>
    </span>
    <span class="fa-stack fa identity__social__item">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-linkedin fa-stack-1x"></i>
    </span>
    <span class="fa-stack fa identity__social__item">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-twitter fa-stack-1x"></i>
    </span>
  </div>
</div>
